.section{
  margin-bottom: 8px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
}

/* default DataTable table has black font color so changing the dashboard card to be a lighter color for visibility  */
.dashboard{
  background-color: #787d82 !important;
  overflow: auto;
  width: 75%;
  margin: auto;
}

caption{
  color: black;
  margin: 8px; 
  background-color: red;
  font-weight: bold;
}

/* A fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(31, 31, 31);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 450px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
/* .active {
  background-color: rgb(160, 23, 23);
  color: white;
} */

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 2px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 25px;}
}

.btn-link {
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  font-size: smaller;
}

a {
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}

h2 {
  font-size: x-large;
  font-weight: bold;
  color: white;
  padding: 15px;
  background-color: rgb(129, 31, 31);
}

h3 {
  font-size: x-large;
  font-weight: bold;
  color: white;
  padding: 15px;
  background-color: rgb(58, 57, 61);
}
h4 {
  margin-top:8px;
  color:white;
  font-size: x-large;
}

h5{
  margin-top:8px;
  padding: -10px;
  color:white;
}

p{
  color:white;
}


/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 75%;
    display: block; 
    /* margin-bottom: 20px; */
   }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #343a40;
  cursor: pointer;
  height: 100%;
}
.card:hover {
  background: #444444;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*end*/

/*for tiny-cards container-fluid section modal*/
.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
  background-color: #343a40;
}
